@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT.css");
@import url("https://cdn.jsdelivr.net/gh/fonts-archive/GmarketSans/GmarketSans.css");






@font-face {
    font-family: 'Pretendard';
    font-weight: 100 900;
    src: url('/web/css/font/Pretendard-Variable.woff2') format('woff2-variations');
}

/* SUIT */
@font-face {
	font-family: 'SUIT';
	font-weight: 100 900;
	src: url('/web/css/font/SUIT-Variable.woff2') format('woff2-variations');
}
